<div class="news-content">
    {{#each post}}
    <div class="post">
            <a href={{this.url}}><h2 class='post-title'>{{this.title}}</h2></a>
            <p class='post-info'> - Posted by <span id='author'>{{this.author}}</span> 5 min ago</p>
            <div class="post-content">{{{this.content}}}</div>
    </div>
    {{/each}}
    <div class="error">{{message}}</div>
</div>